<h1> <%= @project.name %> </h1>

<% if @project.contestants.empty? %>
No contestants at this time
<% else %>
<%= @project.name %>
<%= @project.material %>
<%= @project.challenge.theme %>
Number of contestants: <%= @project.contestants.count %>
Average Contestant Experience: <%= @project.contestants.average_years %> years
<% end %>

<%= form_tag "/contestant_projects?project_id=#{@project.id}", method: :post do %>
<%= label_tag :contestant_id %>
<%= text_field_tag :contestant_id %>

<%= submit_tag "Add Contestant To Project" %>
<% end %>
